<div>
  <h2 id="page-heading" data-cy="OrderHeading">
    <span jhiTranslate="junkShopApplicationApp.order.home.title">Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="junkShopApplicationApp.order.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order"
        [routerLink]="['/order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="junkShopApplicationApp.order.home.createLabel"> Create a new Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
    <span jhiTranslate="junkShopApplicationApp.order.home.notFound">No orders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="junkShopApplicationApp.order.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="junkShopApplicationApp.order.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ward.id">
            <span jhiTranslate="junkShopApplicationApp.order.ward">Ward</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="district.id">
            <span jhiTranslate="junkShopApplicationApp.order.district">District</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="junkShopApplicationApp.order.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a>
          </td>
          <td>{{ order.date | formatMediumDatetime }}</td>
          <td>{{ order.address }}</td>
          <td>
            <div *ngIf="order.ward">
              <a [routerLink]="['/ward', order.ward?.id, 'view']">{{ order.ward?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="order.district">
              <a [routerLink]="['/district', order.district?.id, 'view']">{{ order.district?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="order.product">
              <a [routerLink]="['/product', order.product?.id, 'view']">{{ order.product?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/order', order.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(order)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orders && orders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
