<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading" jhiTranslate="junkShopApplicationApp.file.home.createOrEditLabel">
        Create or edit a File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.file.fileName" for="field_fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
          <div *ngIf="editForm.get('fileName')!.invalid && (editForm.get('fileName')!.dirty || editForm.get('fileName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fileName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.file.fileType" for="field_fileType">File Type</label>
          <select class="form-control" name="fileType" formControlName="fileType" id="field_fileType" data-cy="fileType">
            <option [ngValue]="null">{{ 'junkShopApplicationApp.FileType.null' | translate }}</option>
            <option *ngFor="let fileType of fileTypeValues" [value]="fileType">
              {{ 'junkShopApplicationApp.FileType.' + fileType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.file.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.file.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
