<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ward">
      <h2 data-cy="wardDetailsHeading"><span jhiTranslate="junkShopApplicationApp.ward.detail.title">Ward</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ward.id }}</span>
        </dd>
        <dt><span jhiTranslate="junkShopApplicationApp.ward.wardName">Ward Name</span></dt>
        <dd>
          <span>{{ ward.wardName }}</span>
        </dd>
        <dt><span jhiTranslate="junkShopApplicationApp.ward.district">District</span></dt>
        <dd>
          <div *ngIf="ward.district">
            <a [routerLink]="['/district', ward.district?.id, 'view']">{{ ward.district?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ward', ward.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
