<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ward-heading" data-cy="WardCreateUpdateHeading" jhiTranslate="junkShopApplicationApp.ward.home.createOrEditLabel">
        Create or edit a Ward
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.ward.wardName" for="field_wardName">Ward Name</label>
          <input type="text" class="form-control" name="wardName" id="field_wardName" data-cy="wardName" formControlName="wardName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="junkShopApplicationApp.ward.district" for="field_district">District</label>
          <select class="form-control" id="field_district" data-cy="district" name="district" formControlName="district">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="districtOption.id === editForm.get('district')!.value?.id ? editForm.get('district')!.value : districtOption"
              *ngFor="let districtOption of districtsSharedCollection; trackBy: trackDistrictById"
            >
              {{ districtOption.districtName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
